* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


/* Navbar */

.navbar {
    height: 70px;
    background-color: #c8c6c6;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 50px;
}

.logo {
    color: rgb(14, 2, 2);
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: rgb(98, 93, 233);
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: #00a8ff;
}


/* Header */

.hero {
    height: 500px;

    background-image: url("../images/moon.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.hero-content {
    color: rgb(252, 105, 114);
}

.hero-content h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 20px;
}